<% include ./partials/header.ejs%>
<% include ./partials/navbar.ejs%>
<% include ./partials/flash.ejs%>
<table class="table table-striped">
    <thead>
        <tr>
            <% for(var i=0;i<fields.length; i++) {%>
            <th scope="col"><%= fields[i]['name'] %></th>
            <% }%>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0;i<result.length;i++) {%>
            <tr>
                <td><%= result[i]['zipcode']%></td>
                <td><%= result[i]['place']%></td>
                <td><%= result[i]['xcoordinate']%></td>
                <td><%= result[i]['ycoordinate']%></td>
            </tr>
        <% }%>
    </tbody>
</table>
<% include ./partials/footer.ejs%>